body{
	margin: 24px;
}

.is-hidden{
	display: none;
}

.dark-mode{
	background: black;
	color: white;
}

.article-title{
	font-size: 35px;
	background-color: yellow;
}

.usernames li {
  padding: 8px;
  border: 2px dashed tomato;
  text-transform: uppercase;
}

.usernames li:not(:last-child) {
  margin-bottom: 12px;
}